* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --theme-color : rgba(184, 190, 194, 0.614);
    --theme-color-shadow : rgba(43, 59, 83, 0.448);
}


body {
    height: 100vh;
    background-color: var(--theme-color);
 
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    min-width: 70vw;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

#brand {
    display: flex;
    align-items: center;
}

#brand-name {
    color: white;
}

#logo {
    height: 5em;
}

#location {
    display: flex;
    align-items: center;
    gap: 2em;
}

#location p {
    color: white;
    font-size:0.8em;
}

#search-bar {
    border-radius: 0.2em;
    margin-right: 1em;
    padding: 0.2em 0.6em;
    background-color: white;
    display: flex;
    align-items: center;
}

form {
    display: flex;
    align-items: center;
}
form > button {
    border: none;
    /* border-radius: 0.2em; */
    background-color: white;

    display: flex;
    align-items: center;
    transition: transform 0.2s;
}

form > button:hover {
    cursor: pointer;
    transform: scale(1.3);
}

#search-icon {
    height: 1.4em;
}

#location-input {
    border: none;
    padding: 0.3em 0.4em;
    margin-left: 0.3em;
}

#location-input:focus {
    outline: 1px solid rgb(190, 190, 190);
    border-radius: 0.2em;
    background-color: #ffe97b1b;
    transition: background-color 0.2s;
} 


#banner {
    width: 70vw;
    padding: 1em;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
}

#content {
    width: 70vw;
    height: 100vh;
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

#current-weather-cell {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    /* justify-content: center; */
    align-items: center;

}

#current-weather {
    background-color: white;
    border: 1px solid blue;
    border-radius: 0.4em;
    width: 26em;
    height: 13em;
    padding: 1em 1.5em;

    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

#current-weather-header {
    display: flex;
    justify-content: space-between;
    border-bottom:  1px solid rgb(165, 165, 165);
    font-weight: 600;
}


#current-weather-header {
    color: rgb(121, 122, 122);
}

#current-weather-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#temp-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#actual-temp{
    font-size: 3em;
    font-weight: bold;
}

#other-weather {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}





/* 
    Temperature Units Slider
*/


/* size up the container containing the checkbox, i.e. the slider button */
.switch {
    position: relative;
    /* border: 1px solid gray; */
    display: inline-block;
    width: 65px;
    height: 32px;
}

/* hide actual checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/*  slider track */
.slider {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: #197fbe;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    transition: background-color 0.25s ease-out;
    will-change: transform;
  }

/*  circular slider pseudo element*/
.slider::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 3px;
    
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.25s ease-out;
    will-change: transform;
}

/*  move the slider when input box is checked */
input:checked + .slider::before {
    transform: translateX(31px);
}

/*  change background color of slider track when checked */
input:checked + .slider {
    background-color: #067843;;
}

#celcius, #farenheit {
    color: gray;
    font-size: 1em;
}


#celcius.toggled, #farenheit.toggled {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
} 






