* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --theme-color : rgba(221, 226, 213, 0.432);
    --theme-color-shadow : rgba(43, 59, 83, 0.448);
}


body {
    height: 100vh;
    background-color: var(--theme-color);
 
}

header {
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brand {
    display: flex;
    align-items: center;
}

#brand-name {
    color: white;
}

#logo {
    height: 5em;
}

#location {
    display: flex;
    align-items: center;
    gap: 3em;
}

#location span {
    color: white;
}

#search-bar {
    border-radius: 0.2em;
    margin-right: 1em;
    padding: 0.2em 0.6em;
    background-color: white;
    display: flex;
    align-items: center;
}

#search-icon {
    height: 1.2em;
}

#location-input {
    border: none;
    padding: 0.3em 0.4em;
    margin-left: 0.3em;
}


#content {
    width: 70vw;
    height: 100vh;
    display : grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 20fr 1fr;
    
}
